h1, .h1 {
	font-size: 80px;
}

h2, .h2 {
	font-size: 30px;
}

h3, .h3 {
	font-size: 1.5em;
}

.header.active .nav li > ul {
	max-height: 600px;
}
.header.active .nav li a.donate-large {
	width: 425px;
	margin-right: auto;
	margin-left: 0;
	order: 0;
}
.header.active .nav li a.donate-large img {
	width: 175px;
}
.nav li ul.sub-menu li, 
.nav li ul.children li {
	max-width: unset;

	&:not(:first-of-type) {
		margin-left: 40px;
	}
}
