/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap, ul.sub-menu {
	// padding-left: 100px;
	// padding-right: 100px;
}

h1, .h1 {
	font-size: 70px;
}

h2, .h2 {
	font-size: 25px;
}