/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap, ul.sub-menu {
	padding-left: 100px;
	padding-right: 100px;
}

h1, .h1 {
	font-size: 90px;
}
h2, .h2 {
    font-size: 35px;
}