.bg-primary-blue,
.bg-dark-blue,
.bg-primary {
    background-color: $primary-blue;
}
.bg-light-blue,
.bg-blue {
    background-color: $light-blue;
}
.bg-religion-green,
.bg-green {
    background-color: $religion-green;
}
.bg-events-red,
.bg-red {
    background-color: $events-red;
}
.bg-service-purple,
.bg-purple {
    background-color: $service-purple;
}
.bg-life-gold,
.bg-secondary {
    background-color: $life-gold;
}
.bg-grey {
    background-color: $grey;
}
.bg-background {
    background-color: $background;
}
.bg-white {
    background-color: $white;
}