.border-left {
    border-left: 5px solid $life-gold;
}
.border-top {
    border-top: 5px solid $life-gold;
}
.border-right {
    border-right: 5px solid $life-gold;
}
.border-bottom {
    border-bottom: 5px solid $life-gold;
}